{% load static %}
 
 <div id="blog" class="padding-medium pt-0">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
        <h2 class="display-5 fw-light text-uppercase">Recent Blog Post</h2>
        <div>
          <a href="blog.html" class="btn btn-primary">
            Read Blog</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 my-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card position-relative">
            <div class="z-1 position-absolute m-2 px-3 pt-1">
              <h2 class="text-light display-4 m-0">20<span class="fs-4">MAR</span> </h2>
            </div>
            <a href="single-post.html"><img src="{% static 'img/blog5.jpg' %}" class="img-fluid" alt="Summer skincare routine"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">10 Essential Summer Skincare Tips</h3>
              </a>
              <div class="card-text">
                <p>Protect your skin from sun damage while maintaining that healthy glow. Discover our
                  expert-recommended summer skincare routine that will keep your complexion radiant all season long.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4" data-aos="fade-up" data-aos-delay="600">
          <div class="card position-relative">
            <div class="z-1 position-absolute m-2 px-3 pt-1">
              <h2 class="text-light display-4 m-0">21<span class="fs-4">MAR</span> </h2>
            </div>
            <a href="single-post.html"><img src="{% static 'img/blog2.jpg' %}" class="img-fluid"
                alt="Affordable beauty products"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">Luxury Beauty Brands on a Budget</h3>
              </a>
              <div class="card-text">
                <p>You don't need to break the bank for premium beauty results. We've curated the best affordable
                  alternatives to high-end products that deliver exceptional quality without the luxury price tag.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4" data-aos="fade-up" data-aos-delay="900">
          <div class="card position-relative">
            <div class="z-1 position-absolute m-2 px-3 pt-1">
              <h2 class="text-light display-4 m-0">22<span class="fs-4">MAR</span> </h2>
            </div>
            <a href="single-post.html"><img src="{% static 'img/blog1.jpg' %}" class="img-fluid" alt="Professional makeup tips"></a>
            <div class="card-body p-0">
              <a href="single-post.html">
                <h3 class="pt-4 pb-3 m-0">Pro Makeup Artist Secrets Revealed</h3>
              </a>
              <div class="card-text">
                <p>Learn the techniques that professional makeup artists use to create flawless looks. From foundation
                  application to perfect winged eyeliner, master these skills for everyday glamour.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>