{% load static %}

<section class="logo-bar">
    <div class="container padding-medium" data-aos="fade-up">
      <div class="row ">
        <div class="logo-content d-flex flex-wrap justify-content-between">
          <a href="#"> <img src="{% static 'img/logo1.png' %}" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="{% static 'img/logo2.png' %}" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="{% static 'img/logo3.png' %}" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="{% static 'img/logo4.png' %}" alt="logo" class="logo-image img-fluid my-3"> </a>
          <a href="#"> <img src="{% static 'img/logo5.png' %}" alt="logo" class="logo-image img-fluid my-3"> </a>
        </div>
      </div>
    </div>
  </section>