{% load static %}

<section id="new-arrival" class="product-store">
    <div class="container padding-medium" data-aos="fade-up">
      <h2 class="display-5 fw-light text-uppercase text-center">New Arrivals</h2>
      <p class="text-center mb-4">Browse our brand new collections</p>
      <div class="row">
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder" style="width: 100%; height: 100%;">
              <img src="{% static 'img/product-item15.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0">
                  Product Sample
                </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item position-relative">
            <div class="z-1 position-absolute top-0 start-0 rounded-3 m-3 px-3 py-0 fs-6 bg-primary text-white">
              New
            </div>
            <div class="image-holder">
              <img src="{% static 'img/product-item14.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="{% static 'img/product-item6.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">

          <div class="product-item position-relative">
            <div class="z-1 position-absolute rounded-3 m-3 px-3 bg-primary text-white">
              Sale
            </div>
            <div class="image-holder">
              <img src="{% static 'img/product-item13.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="{% static 'img/product-item1.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="{% static 'img/product-item5.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item position-relative">
            <div class="z-1 position-absolute rounded-3 m-3 px-3 bg-primary text-white">
              Sold
            </div>
            <div class="image-holder">
              <img src="{% static 'img/product-item12.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 my-4">
          <div class="product-item">
            <div class="image-holder">
              <img src="{% static 'img/product-item16.jpg' %}" alt="Books" class="product-image img-fluid">
            </div>
            <div class="cart-concern">
              <div class="cart-button d-flex justify-content-between align-items-center">
                <a href="#" class="btn-wrap cart-link d-flex align-items-center text-capitalize fs-6 ">add to cart <i
                    class="icon icon-arrow-io pe-1"></i>
                </a>
                <a href="single-product.html" class="view-btn mt-1">
                  <i class="icon icon-screen-full"></i>
                </a>
                <a href="#" class="wishlist-btn mt-1">
                  <i class="icon icon-heart"></i>
                </a>
              </div>
            </div>
            <div class="product-detail d-flex justify-content-between align-items-center mt-2">
              <a href="single-product.html">
                <h5 class="product-title mb-0"> Product Sample </h5>
              </a>
              <p class="m-0 fs-5 fw-normal">$40.00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5 pt-4">
        <button type="submit" class="btn btn-primary">View All Products</button>
      </div>
    </div>
  </section>