{% load static %}
 
 <section id="service" class="padding-medium">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="ci:shopping-cart-02"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Free Delivery</h3>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="tdesign:secured"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">100% secure payment</h3>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="la:award"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Quality guarantee</h3>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="card">
            <div>
              <iconify-icon class="service-icon text-primary display-4" icon="solar:dollar-outline"></iconify-icon>
            </div>
            <h4 class=" text-uppercase py-3 m-0">Daily Offer</h3>
              <div class="card-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
              </div>
          </div>
        </div>

      </div>
    </div>
  </section>