{% extends "base.html" %}
{% load static %}


{% block content %}

  {% comment %} intro section {% endcomment %}

  {% include "home/intro.html" %}
  

  {% comment %} logo bar section {% endcomment %}

  {% include "home/logobar.html" %}

  {% comment %} category section {% endcomment %}

  {% include "home/category.html" %}

  {% comment %} new arrival section {% endcomment %}

  {% include "home/new_arrival.html" %}

  {% comment %} register section {% endcomment %}

  {% include "home/offer.html" %}

  {% comment %} best seller section {% endcomment %}

  {% include "home/best_seller.html" %}

  {% comment %} testimonial section {% endcomment %}

  {% include "home/testimonials.html" %}

  {% comment %} service section {% endcomment %}

  {% include "home/services.html" %}

  {% comment %} blog section {% endcomment %}

  {% include "home/blog.html" %}

{% endblock content %}